.text-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;

  &.-investment {
    background-image: url('../../img/hero-faq.jpg');
  }

  &.-docs {
    background-image: url('../../img/attachment-documents.jpg');
  }

  >.inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 50px 0;
    width: 100%;

    >.subtitle {
      color: $white-color;
      font-size: 34px;
    }

    >.content {

      @include media-breakpoint-up (md) {
        width: 40%;
      }

      font-size: 18px;
      text-align: center;
      width: 80%;
      margin-bottom: 30px;
    }
  }
}