$white-color: #ffffff;
$bon-jour: #F0EFF0;
$buddha-gold: #CC9900;
$timber-green: #122D26;

$primary-light-color: #70817c;
$primary-color: $timber-green;
$primary-dark-color: #0e241e;

$secondary-light-color: #e0c266;
$secondary-color: $buddha-gold;
$secondary-dark-color: #674d00;

$light-gray-color: $bon-jour
